<form>
    <div class="login-card">
     <div class="title">
         <h4>Login</h4>
     </div>
     <div class="contain">
         <div class="input-box">
             <label for="username">Username</label>
             <input id="userEl" placeholder="john01" type="text">
         </div>
         <div class="input-box">
             <label for="password">Password</label>
             <input id="passEl" type="password">
         </div>
         <div class="input-box">
             <button class="btn" id="login-btn" >Login</button>
             <a  href="/signup">Sign up</a>
         </div>
     </div>
    </div>
</form>
<script src="/javascript/login.js" ></script>